In [1]:
import pandas as pd

In [3]:
excel = pd.read_excel('C:/Users/songtg/Desktop/lotto/excel.xlsx', header=None)
excel.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,회차별 추첨결과,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,년도,회차,추첨일,1등,NaN,2등,NaN,3등,NaN,4등,NaN,5등,NaN,당첨번호,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,당첨자수,당첨금액,당첨자수,당첨금액,당첨자수,당첨금액,당첨자수,당첨금액,당첨자수,당첨금액,1,2.0,3.0,4.0,5.0,6.0,보너스
3,2021,972,2021.07.17,20,"1,124,886,244원",80,"46,870,261원",2570,"1,458,997원",126989,"50,000원",2122398,"5,000원",3,6.0,17.0,23.0,37.0,39.0,26
4,NaN,971,2021.07.10,6,"3,725,880,250원",62,"60,094,843원",2685,"1,387,665원",131409,"50,000원",2171694,"5,000원",2,6.0,17.0,18.0,21.0,26.0,7

In [4]:
excel = excel.drop(index=0)
excel = excel.drop(index=1)
excel = excel.drop(index=2)
excel = excel.drop(columns=[0,2,3,4,5,6,7,8,9,10,11,12])
excel = excel.rename(columns={1: 'round'})
for i in range(0, 6):
    excel = excel.rename(columns={i+13: i+1})
excel = excel.rename(columns={19: 'bonus'})
excel = excel.assign(number = [i for i in range(1, len(excel)+1)])
excel = excel.set_index("number")
excel = excel[::-1]
excel.head()

       round   1     2     3     4     5     6 bonus
number
972        1  10  23.0  29.0  33.0  37.0  40.0    16
971        2   9  13.0  21.0  25.0  32.0  42.0     2
970        3  11  16.0  19.0  21.0  27.0  31.0    30
969        4  14  27.0  30.0  31.0  40.0  42.0     2
968        5  16  24.0  29.0  40.0  41.0  42.0     3

In [6]:
excel_500 = excel[-500:]
excel_300 = excel[-300:]
excel_100 = excel[-100:]

In [24]:
test = excel[-5:]
test

       round  1     2     3     4     5     6 bonus
number
5        968  2   5.0  12.0  14.0  24.0  39.0    33
4        969  3   9.0  10.0  29.0  40.0  45.0     7
3        970  9  11.0  16.0  21.0  28.0  36.0     5
2        971  2   6.0  17.0  18.0  21.0  26.0     7
1        972  3   6.0  17.0  23.0  37.0  39.0    26

In [7]:
from sklearn.linear_model import LinearRegression

In [8]:
x_all = excel['round']
x_all = x_all.values.reshape(-1,1)
y_all_1 = excel[1]
y_all_2 = excel[2]
y_all_3 = excel[3]
y_all_4 = excel[4]
y_all_5 = excel[5]
y_all_6 = excel[6]

In [9]:
# 1
pre_all_num_1 = LinearRegression()
pre_all_num_1.fit(x_all,y_all_1)
ans_all_1 = pre_all_num_1.predict([[len(excel)+1]])[0]
# 2
pre_all_num_2 = LinearRegression()
pre_all_num_2.fit(x_all,y_all_2)
ans_all_2 = pre_all_num_2.predict([[len(excel)+1]])[0]
# 3
pre_all_num_3 = LinearRegression()
pre_all_num_3.fit(x_all,y_all_3)
ans_all_3 = pre_all_num_3.predict([[len(excel)+1]])[0]
# 4
pre_all_num_4 = LinearRegression()
pre_all_num_4.fit(x_all,y_all_4)
ans_all_4 = pre_all_num_4.predict([[len(excel)+1]])[0]
# 5
pre_all_num_5 = LinearRegression()
pre_all_num_5.fit(x_all,y_all_5)
ans_all_5 = pre_all_num_5.predict([[len(excel)+1]])[0]
# 6
pre_all_num_6 = LinearRegression()
pre_all_num_6.fit(x_all,y_all_6)
ans_all_6 = pre_all_num_6.predict([[len(excel)+1]])[0]

In [10]:
this_week_all = []
this_week_all.append(int(round(ans_all_1,0)))
this_week_all.append(int(round(ans_all_2,0)))
this_week_all.append(int(round(ans_all_3,0)))
this_week_all.append(int(round(ans_all_4,0)))
this_week_all.append(int(round(ans_all_5,0)))
this_week_all.append(int(round(ans_all_6,0)))
this_week_all

[7, 13, 20, 26, 33, 40]

In [11]:
x_500 = excel_500['round']
x_500 = x_500.values.reshape(-1,1)
y_500_1 = excel_500[1]
y_500_2 = excel_500[2]
y_500_3 = excel_500[3]
y_500_4 = excel_500[4]
y_500_5 = excel_500[5]
y_500_6 = excel_500[6]

In [12]:
# 1
pre_500_num_1 = LinearRegression()
pre_500_num_1.fit(x_500,y_500_1)
ans_500_1 = pre_500_num_1.predict([[501]])[0]
# 2
pre_500_num_2 = LinearRegression()
pre_500_num_2.fit(x_500,y_500_2)
ans_500_2 = pre_500_num_2.predict([[501]])[0]
# 3
pre_500_num_3 = LinearRegression()
pre_500_num_3.fit(x_500,y_500_3)
ans_500_3 = pre_500_num_3.predict([[501]])[0]
# 4
pre_500_num_4 = LinearRegression()
pre_500_num_4.fit(x_500,y_500_4)
ans_500_4 = pre_500_num_4.predict([[501]])[0]
# 5
pre_500_num_5 = LinearRegression()
pre_500_num_5.fit(x_500,y_500_5)
ans_500_5 = pre_500_num_5.predict([[501]])[0]
# 6
pre_500_num_6 = LinearRegression()
pre_500_num_6.fit(x_500,y_500_6)
ans_500_6 = pre_500_num_6.predict([[501]])[0]

In [13]:
this_week_500 = []
this_week_500.append(int(round(ans_500_1,0)))
this_week_500.append(int(round(ans_500_2,0)))
this_week_500.append(int(round(ans_500_3,0)))
this_week_500.append(int(round(ans_500_4,0)))
this_week_500.append(int(round(ans_500_5,0)))
this_week_500.append(int(round(ans_500_6,0)))
this_week_500

[7, 13, 19, 26, 33, 40]

In [14]:
x_300 = excel_300['round']
x_300 = x_300.values.reshape(-1,1)
y_300_1 = excel_300[1]
y_300_2 = excel_300[2]
y_300_3 = excel_300[3]
y_300_4 = excel_300[4]
y_300_5 = excel_300[5]
y_300_6 = excel_300[6]

In [15]:
# 1
pre_300_num_1 = LinearRegression()
pre_300_num_1.fit(x_300,y_300_1)
ans_300_1 = pre_300_num_1.predict([[301]])[0]
# 2
pre_300_num_2 = LinearRegression()
pre_300_num_2.fit(x_300,y_300_2)
ans_300_2 = pre_300_num_2.predict([[301]])[0]
# 3
pre_300_num_3 = LinearRegression()
pre_300_num_3.fit(x_300,y_300_3)
ans_300_3 = pre_300_num_3.predict([[301]])[0]
# 4
pre_300_num_4 = LinearRegression()
pre_300_num_4.fit(x_300,y_300_4)
ans_300_4 = pre_300_num_4.predict([[301]])[0]
# 5
pre_300_num_5 = LinearRegression()
pre_300_num_5.fit(x_300,y_300_5)
ans_300_5 = pre_300_num_5.predict([[301]])[0]
# 6
pre_300_num_6 = LinearRegression()
pre_300_num_6.fit(x_300,y_300_6)
ans_300_6 = pre_300_num_6.predict([[301]])[0]

In [16]:
this_week_300 = []
this_week_300.append(int(round(ans_300_1,0)))
this_week_300.append(int(round(ans_300_2,0)))
this_week_300.append(int(round(ans_300_3,0)))
this_week_300.append(int(round(ans_300_4,0)))
this_week_300.append(int(round(ans_300_5,0)))
this_week_300.append(int(round(ans_300_6,0)))
this_week_300

[7, 12, 15, 22, 31, 38]

In [17]:
x_100 = excel_100['round']
x_100 = x_100.values.reshape(-1,1)
y_100_1 = excel_100[1]
y_100_2 = excel_100[2]
y_100_3 = excel_100[3]
y_100_4 = excel_100[4]
y_100_5 = excel_100[5]
y_100_6 = excel_100[6]

In [18]:
# 1
pre_100_num_1 = LinearRegression()
pre_100_num_1.fit(x_100,y_100_1)
ans_100_1 = pre_100_num_1.predict([[101]])[0]
# 2
pre_100_num_2 = LinearRegression()
pre_100_num_2.fit(x_100,y_100_2)
ans_100_2 = pre_100_num_2.predict([[101]])[0]
# 3
pre_100_num_3 = LinearRegression()
pre_100_num_3.fit(x_100,y_100_3)
ans_100_3 = pre_100_num_3.predict([[101]])[0]
# 4
pre_100_num_4 = LinearRegression()
pre_100_num_4.fit(x_100,y_100_4)
ans_100_4 = pre_100_num_4.predict([[101]])[0]
# 5
pre_100_num_5 = LinearRegression()
pre_100_num_5.fit(x_100,y_100_5)
ans_100_5 = pre_100_num_5.predict([[101]])[0]
# 6
pre_100_num_6 = LinearRegression()
pre_100_num_6.fit(x_100,y_100_6)
ans_100_6 = pre_100_num_6.predict([[101]])[0]

In [19]:
this_week_100 = []
this_week_100.append(int(round(ans_100_1,0)))
this_week_100.append(int(round(ans_100_2,0)))
this_week_100.append(int(round(ans_100_3,0)))
this_week_100.append(int(round(ans_100_4,0)))
this_week_100.append(int(round(ans_100_5,0)))
this_week_100.append(int(round(ans_100_6,0)))
this_week_100.sort()
this_week_100

[19, 25, 26, 31, 42, 52]

In [20]:
print('All:', this_week_all)
print('500:', this_week_500)
print('300:', this_week_300)
print('100:', this_week_100)

All: [7, 13, 20, 26, 33, 40]
500: [7, 13, 19, 26, 33, 40]
300: [7, 12, 15, 22, 31, 38]
100: [19, 25, 26, 31, 42, 52]